:root {
  --text-20: 20px;
  --text-18: 18px;
  --text-16: 16px;
  --negro: #4b4747e5;
  --plomo: rgba(158, 153, 153, 0.863);
}

#user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--negro);
  margin-top: 4px;
}

.info-detail-value {
  color: var(--negro);
  font-size: var(--text-18);
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.info-detail-description {
  font-size: 14px;
  color: var(--plomo);
}

#about {
  color: var(--plomo);
  font-size: var(--text-16);
  text-align: center;
}

.info-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#info {
  display: flex;
  justify-content: center;
  gap: 35px;
}